[color]
  ui = auto

[user]
  name = James Nylen
  email = jnylen@gmail.com

[alias]
  alias = config --get-regexp ^alias

  st = status
  d = diff
  dc = diff --cached

  ci = commit
  cm = commit -m

  co = checkout

  push0 = "!echo Would run: && echo git push -u --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
  push1 = "!git push -u --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
  pusht = push --tags

  om = !git fetch origin && git checkout origin/master -B master
  od = !git fetch origin && git checkout origin/develop -B develop
  um = !git fetch upstream && git checkout upstream/master -B master && git branch --set-upstream-to=origin/master
  ud = !git fetch upstream && git checkout upstream/develop -B develop && git branch --set-upstream-to=origin/develop

  ls-untracked = ls-files -o --exclude-standard
  add-untracked = !git ls-untracked | xargs -d\\\\n git add -v

  ls-deleted = ls-files -d
  rm-deleted = !git ls-deleted | xargs -d\\\\n git rm
  rm-untracked = !git ls-untracked | xargs -d\\\\n rm -v
  graph = log --all --decorate --graph --oneline

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[push]
	default = simple
